<div class="container">	
	<strong>Date:</strong>
	<%= @inventory.date %><br>
	<strong>Description:</strong>
	<%= @inventory.description %><br>

	<%= link_to "Back", inventories_path, class: "btn btn-default" %>

</div>