<div class="col-md-12">
  <div id="open_close" style="width:auto; height:auto;"></div>
  <script type="text/javascript">
  $(function () {
    Highcharts.setOptions(
      {colors: 
        ['#e74c3c', 
        '#3498db',,
        '#a66bbe',
        '#27ae60'],
      });
    $('#open_close').highcharts({
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
      },
      title: {
        text: 'Status of all Action Items'
      },
      tooltip: {
        pointFormat: '<b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
        pie: {
          size:'100%%',
          allowPointSelect: true,
          cursor: 'pointer',
          showInLegend: true,
          dataLabels: {
            enabled: true,
            color: '#000000',
            connectorColor: '#000000',
            format: '{point.percentage:.1f} %'
          }
        }
      },
      credits: {
        enabled: false
      },
      series: [{
        type: 'pie',
        data: 
        [['Open', <%= Actionitem.where(status: "Open").count %>],
        ['Closed', <%= Actionitem.where(status: "Closed").count %>],
        ['Deferred', <%= Actionitem.where(status: "Deferred").count %>],
        ['Rejected', <%= Actionitem.where(status: "Rejected").count %>]]
      }]
    });
  });
</script>
          
</div>
</div>