<!-- par_q4_2013 -->
<div class="container">
<h1>Additional PAR Data</h1>
	<div class="col-md-4">
		  <div id="par_q4_2013" style="width:auto; height:auto;"></div>
		  <script type="text/javascript">
		  $(function () {
		    Highcharts.setOptions(
		      {colors: 
		        ['#3498db', 
		        '#e74c3c', 
		        '#9b59b6', 
		        '#f1c40f', 
		        '#2ecc71', 
		        '#2c3e50', 
		        '#bdc3c7'],
		      }); 
		    $('#par_q4_2013').highcharts({
		      chart: {
		        plotBackgroundColor: null,
		        plotBorderWidth: null,
		        plotShadow: false
		      },
		      title: {
		        text: 'PARs Q4 2013'
		      },
		      tooltip: {
		        pointFormat: '<b>{point.percentage:.1f}%</b>'
		        //pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		      },
		      plotOptions: {
		        pie: {
		          size:'75%',
		          allowPointSelect: true,
		          cursor: 'pointer',
		          showInLegend: true,
		          dataLabels: {
		            enabled: true,
		            color: '#000000',
		            connectorColor: '#000000',
		            format: '{point.percentage:.1f} %'
		            //format: '<b>{point.name}</b>: {point.percentage:.1f} %'
		          }
		        }
		      },
		      credits: {
		        enabled: false
		      },
		      series: [{
		        type: 'pie',
		        data: 
		        [['Received', 6],
		        ['Closed', 0]]
		      }]
		    });
		});
		</script>
		</div>
		<!-- par_q1_2014 -->
		<div class="col-md-4">
		<div id="par_q1_2014" style="width:auto; height:auto;"></div>
		<script type="text/javascript">
		$(function () {
		  Highcharts.setOptions(
		    {colors: 
		      ['#3498db', 
		      '#e74c3c', 
		      '#9b59b6', 
		      '#f1c40f', 
		      '#2ecc71', 
		      '#2c3e50', 
		      '#bdc3c7'],
		    });
		  $('#par_q1_2014').highcharts({
		    chart: {
		      plotBackgroundColor: null,
		      plotBorderWidth: null,
		      plotShadow: false
		    },
		    title: {
		      text: 'PARs Q1 2014'
		    },
		    tooltip: {
		      pointFormat: '<b>{point.percentage:.1f}%</b>'
		    },
		    plotOptions: {
		      pie: {
		        size:'75%',
		        allowPointSelect: true,
		        cursor: 'pointer',
		        showInLegend: true,
		        dataLabels: {
		          enabled: true,
		          color: '#000000',
		          connectorColor: '#000000',
		          format: '{point.percentage:.1f} %'
		        }
		      }
		    },
		    credits: {
		      enabled: false
		    },
		    series: [{
		      type: 'pie',
		      data: 
		        [['Received', 2],
		        ['Closed', 3]]
		    }]
		  });
		});
		</script>
		</div>
		<!-- par_q1_2015 -->
		<div class="col-md-4">
		<div id="par_q1_2015" style="width:auto; height:auto;"></div>
		<script type="text/javascript">
		$(function () {
		  Highcharts.setOptions(
		    {colors: 
		      ['#3498db', 
		      '#e74c3c', 
		      '#9b59b6', 
		      '#f1c40f', 
		      '#2ecc71', 
		      '#2c3e50', 
		      '#bdc3c7'],
		    });
		  $('#par_q1_2015').highcharts({
		    chart: {
		      plotBackgroundColor: null,
		      plotBorderWidth: null,
		      plotShadow: false
		    },
		    title: {
		      text: 'PARs Q1 2015'
		    },
		    tooltip: {
		      pointFormat: '<b>{point.percentage:.1f}%</b>'
		    },
		    plotOptions: {
		      pie: {
		        size:'75%',
		        allowPointSelect: true,
		        cursor: 'pointer',
		        showInLegend: true,
		        dataLabels: {
		          enabled: true,
		          color: '#000000',
		          connectorColor: '#000000',
		          format: '{point.percentage:.1f} %'
		        }
		      }
		    },
		    credits: {
		      enabled: false
		    },
		    series: [{
		      type: 'pie',
		      data: 
		        [['Received', 3],
		        ['Closed', 6]]
		    }]
		  });
		});
		</script>
		</div>
		<div class="col-md-4">
		  <div id="par_q3_2015" style="width:auto; height:auto;"></div>
		    <script type="text/javascript">
		    $(function () {
		      Highcharts.setOptions(
		        {colors: 
		          ['#3498db', 
		          '#e74c3c', 
		          '#9b59b6', 
		          '#f1c40f', 
		          '#2ecc71', 
		          '#2c3e50', 
		          '#bdc3c7'],
		        });
		      $('#par_q3_2015').highcharts({
		        chart: {
		          plotBackgroundColor: null,
		          plotBorderWidth: null,
		          plotShadow: false
		        },
		        title: {
		          text: 'Closed Out PARs Q1 2014'
		        },
		        tooltip: {
		          pointFormat: '<b>{point.percentage:.1f}%</b>'
		        },
		        plotOptions: {
		          pie: {
		            size:'75%',
		            allowPointSelect: true,
		            cursor: 'pointer',
		            showInLegend: true,
		            dataLabels: {
		              enabled: true,
		              color: '#000000',
		              connectorColor: '#000000',
		              format: '{point.percentage:.1f} %'
		            }
		          }
		        },
		        credits: {
		          enabled: false
		        },
		        series: [{
		          type: 'pie',
		          data: 
		          [['Received', 0],
		          ['Closed', 1]]
		        }]
		      });
				});
			</script>
		</div>
	</div>
</div>

