<div class="container">
	<div class="container">
		<div class="jumbotron">
			<h1>iAccess Inventory Tracking System</h1>
		</div>
		<br>

		<%= link_to "Add New Shipping Item", new_shipitem_path, class: "btn-lg btn-primary" %><br><br><br>
		<%= link_to "Add New Receiving Item", new_shipitem_path, class: "btn-lg btn-danger" %>
</div>
</div>