<div class="container">
  <form class="form-signin">
		<h1>Select Action</h1>
		<%= link_to "Shipping Item ", new_shipitem_path, class: "btn btn-lg btn-primary btn-block" %><br>
		<%= link_to "Receiving Item", new_receiveitem_path, class: "btn btn-lg btn-primary btn-block" %><br>
	  <button class="btn btn-lg btn-primary btn-block" type="submit">Licensing</button><br>
	  <button class="btn btn-lg btn-primary btn-block" type="submit">Scan</button><br>
	  <button class="btn btn-lg btn-primary btn-block" type="submit">Inspect</button>
	</div>
</div>