<div class="container">
	<h2>
		New Receive Item 	<%= link_to "Link to Receive Item Log", receiveitems_path, class: "btn btn-primary" %>
	</h2>
	  <em>IAW iAT-00-0392 Property Management Process, Para. 5.1.1 and 5.1.2</em>

</div>
<%= render 'form' %>
