// Place all the styles related to the receiveitems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.radio, .checkbox {
    position: relative;
    display: block;
    min-height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
